@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Budget Manager";
    Layout = "_SignedInLayout";
}


        <div class="card-deck">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">New Budget</h5>
                    <p class="card-body">Add a new budget to track even more of your outgoings!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Go!</a>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Detailed Budgets</h5>
                    <p class="card-body">See all details about all your budgets, including all purchases for each budget.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Go!</a>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Modify Budgets</h5>
                    <p class="card-body">Change details about your budgets.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Go!</a>
                </div>
            </div>
        </div>